.watches-models {
  padding: 43px 0 65px 0;
  text-align: center;
}

.watches-models__caption {
  font-size: 24px;
  color: #000000;
}

.watches-models__heading {
  margin-top: 10px;
  font-weight: 400;
  font-size: 72px;
}