@import "__image/__image";
.watches-block {
  margin: 80px auto 0 auto;
  color: #161515;
  }

.watches-block__watchesName {
  margin-top: 67px;
  font-weight: 400;
}

.watches-block__description {
  margin-top: 16px;
  line-height: 155%;
}